keep
.python.env
notebooks/.ipynb_checkpoints/
notebooks/commondata/Census/KAGGLE.zip
commondata/KAGGLE.zip
notebooks/commondata/KAGGLE.zip
notebooks/commondata/sb_ca2017_all_csv_v2.csv
notebooks/commondata/sb_ca2017_all_csv_v2.txt